<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="/runner/fragments/layout::style_meta"></div>
    <title>Orders Waiting for Delivery</title>
</head>
<body>
<div th:replace="~{/runner/fragments/layout::header}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{/runner/fragments/layout::sidebar}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="h2 pb-2 pt-3">Orders Waiting for Delivery</h1>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jackson</td>
                        <td>Michael</td>
                        <td>123 West Roscoe St, Chicago, IL 60657</td>
                        <td>515-555-5678</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="#">Deliver this Order</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Myers</td>
                        <td>Michael</td>
                        <td>1428 Elm St, Chicago, IL 60614</td>
                        <td>310-555-6789</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="#">Deliver this Order</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Kim</td>
                        <td>Keller</td>
                        <td>323 W Concord Pl, Chicago, IL 60614</td>
                        <td>312-555-7888</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="#">Deliver this Order</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Aaron</td>
                        <td>Rodgers</td>
                        <td>2345 Michigan Ave, Chicago IL, 60612 </td>
                        <td>312-555-9876</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="#">Deliver this Order</a>
                        </td>
                    </tr>
                        <td>5</td>
                        <td>Jessica</td>
                        <td>Johnson</td>
                        <td>4567 N Wells St, Chicago, IL 60614</td>
                        <td>312-555-5432</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="#">Deliver this Order</a>
                        </td>

                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>


<div th:replace="~{/runner/fragments/layout::scripts}"></div>
<script>
    $(".sidebar-sticky .nav-link").eq(1).addClass("active");
</script>
</body>
</html>