<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="/runner/fragments/layout::style_meta"></div>
    <title>Past Orders Delivered</title>
</head>
<body>
<div th:replace="~{/runner/fragments/layout::header}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{/runner/fragments/layout::sidebar}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="h2 pb-2 pt-3">Past Orders Delivered</h1>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>34</td>
                        <td>George</td>
                        <td>Washington</td>
                        <td>2345 North Ave, Chicago, IL 60612</td>
                        <td>312-555-7891</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>John</td>
                        <td>Adams</td>
                        <td>4567 Lakeshore Dr, Chicago, IL 60612</td>
                        <td>312-555-8888</td>
                    </tr>
                    <tr>
                        <td>54</td>
                        <td>Thomas</td>
                        <td>Jefferson</td>
                        <td>567 Belmont Ave, Chicago, IL 60656</td>
                        <td>312-555-4567</td>
                    </tr>
                    <tr>
                        <td>68</td>
                        <td>James</td>
                        <td>Madison</td>
                        <td>789 Clark St, Chicago, IL 60614</td>
                        <td>312-555-2222</td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>James</td>
                        <td>Monroe</td>
                        <td>3456 N Racine Ave, Chicago, IL 60657</td>
                        <td>312-555-1111</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>


<div th:replace="~{/runner/fragments/layout::scripts}"></div>
<script>
    $(".sidebar-sticky .nav-link").eq(3).addClass("active");
</script>
</body>
</html>