.collapsing { transition:height 0.35s ease !important; }

.half-circle-right{
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}
.half-circle-left{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
.rounded-left-0{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rounded-right-0{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control.bg-none{
    background-image: none;
}

.dropdown-item:focus, .dropdown-item:hover{
    text-decoration: underline;
}
.main svg.feather{
    stroke:#28a745;
}
.content{
    max-width:1360px
}
.pic {
    width: 240px;
    height: 240px;
}

.pic .pos-btn{
    position: absolute;
    right: 8px;
    bottom: 8px;
}

/*** begin override bootstrap modal csss */

body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal.show {
    z-index: -1;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-open .modal {
    z-index: 1050;
}

/*** end override bootstrap modal csss */
