<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <title>Grocery runner</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" sec:authorize="${not(isAuthenticated())}">
            <a class="navbar-brand" href="#" th:href="@{/login}">Registration and
                Login Module</a>
        </div>
        <div sec:authorize="isAuthenticated()" id="navbar" class="navbar-header ml-auto">
            <ul class="nav navbar-nav">
                <li ><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <h2>Grocery Runner Product Page</h2>

    <p sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="principal.username" class="font-italic font-weight-bold">User</span>
    </p>
    <ul>
        <li>
            <a href="/customer/">I am a customer</a>
        </li>
        <li>
            <a href="/runner/">I am a runner</a>
        </li>
        <li>
            <a href="/admin/">I am an administrator</a>
        </li>

    </ul>
</div>

<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>