<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="../../css/app.css?v=11111">
    <title>Grocery Runner Online System</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row w-100 main">
        <div class="col-2">
            <span class="navbar-brand">Grocery Runner</span>
        </div>
        <div class="col-7 text-center">
            <form class="form-inline d-inline-block my-lg-0 w-100">
                <button
                        type="button"
                        class="btn btn-outline-success half-circle-left rounded-right-0 dropdown-toggle mr-n1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Department
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">All Departments</a>
                    <a class="dropdown-item" href="#">Protein</a>
                    <a class="dropdown-item" href="#">Dairy</a>
                    <a class="dropdown-item" href="#">Fruit</a>
                    <a class="dropdown-item" href="#">Vegetables</a>
                    <a class="dropdown-item" href="#">Grains</a>

                </div>
                <input
                        class="form-control w-75 is-valid bg-none rounded-0 border-right-0 border-left-0 "
                        type="search" placeholder="Search" aria-label="Search"
                />
                <button class="btn btn-outline-success ml-n1 half-circle-right rounded-left-0" type="submit">Search
                </button>
            </form>
        </div>
        <div class="col-3 text-right pt-2">
            <a class="d-inline-block text-body"> Account<i data-feather="user"></i></a>
            <a class="d-inline-block ml-3 text-body"> Shopping Cart<i data-feather="shopping-cart"></i><span class="ml-1 badge badge-success">3</span> </a>
        </div>
    </div>
</nav>


<div class="container-fluid content">
    <div class="row border-bottom border-top mt-5 py-3">
        <div class="col-2">
            1 to 40 of 1,000+ products
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-6">
                    <b>Refine by </b> | Price
                </div>
                <div class="col-6">
                    <b>Sorted by </b> | Price
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav id="sidebarMenu" class="col-2 d-md-block bg-light sidebar px-0 collapse">
            <div class="sidebar-sticky pt-3">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-sm" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Departments
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item py-2">Protein</li>
                                    <li class="list-group-item py-2">Dairy</li>
                                    <li class="list-group-item py-2">Fruit</li>
                                    <li class="list-group-item py-2">Vegetables</li>
                                    <li class="list-group-item py-2">Grains</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-sm" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Price
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
        <div class="col-10">
            <div  class="row">
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/188300166?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Perdue Boneless Chicken Breast</p>
                            <p class="card-title"> $8.88 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/136010246?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Lucerne Milk Reduced Fat 2% </p>
                            <p class="card-title"> $2.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960074879?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Maxwell House Coffee</p>
                            <p class="card-title"> $6.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960143200?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Birds Eye Steamfresh Assorted Vegetables</p>
                            <p class="card-title"> $2.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/138250237?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Kerrygold Pure Irish Butter </p>
                            <p class="card-title"> $4.49 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/138350308?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> O Organics Organic Brown Eggs Large </p>
                            <p class="card-title"> $3.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960038380?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Dave's Killer Bread Organic 21 Grains </p>
                            <p class="card-title"> $5.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/196100807?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Thomas' English Muffins </p>
                            <p class="card-title"> $3.49 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960083417?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Digiorno Original Risng Crust Pizza </p>
                            <p class="card-title"> $5.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/142100392?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Breyer's Ice Cream - Natural Vanilla </p>
                            <p class="card-title"> $3.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/148010415?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Amy's Cheese Enchiladas </p>
                            <p class="card-title"> $3.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/184060007?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Banana - Each </p>
                            <p class="card-title"> $0.59 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/184070124?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Strawberries - 1lb </p>
                            <p class="card-title"> $3.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/184040158?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Large Hass Avocado - Each </p>
                            <p class="card-title"> $0.98 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/184650224?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Fresh Express Caesar Salad Kit i </p>
                            <p class="card-title"> $3.33 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960087287?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> RITZ Crackers </p>
                            <p class="card-title"> $2.99 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/182310178?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Sabra Classic Hummus </p>
                            <p class="card-title"> $3.59 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960041860?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Oscar Meyer Oven Roasted Turkey Breast </p>
                            <p class="card-title"> $7.49 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960081797?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Skippy Peanut Butter Spread Creamy </p>
                            <p class="card-title"> $6.49 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card col p-3 m-2">
                    <div >
                        <img class="card-img-top" src="https://images.albertsons-media.com/is/image/ABS/960430784?$ecom-product-card-desktop-jpg$&defaultImage=Not_Available" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"> Sargento Mozzarella Sliced Cheese </p>
                            <p class="card-title"> $3.50 </p>
                        </div>
                        <div class="card-footer border-0 p-1 bg-transparent text-center">
                            <button class="btn half-circle-left half-circle-right btn-success">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center mb-5 mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link text-success" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link text-success" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">...</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">3</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">4</a></li>
                        <li class="page-item active"><a class="page-link text-success" href="#">5</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">6</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">7</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">...</a></li>
                        <li class="page-item"><a class="page-link text-success" href="#">25</a></li>
                        <li class="page-item">
                            <a class="page-link text-success" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>